<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div>
            <h2 id="home_ref"><a href="/">Home</a></h2>
        </div>
        <div id="routes">
            <a href="/login" id="login_ref">Login</a>|

            <img id="imagen_user" alt="" src="<%=usuario.imagen %>">|
            <a href="/cerrar" id="cerrar_session">LogOut</a>
        </div>
    </nav>
</body>
</html>