<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="error.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <section id="contenedor">
        <h1 id="titulo_error">NO SE HA PODIDO ENCONTRAR LA URL QUE ESTABA BUSCANDO</h1>
    <div id="error_gif">
        <img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExeDBraWJodDJwZGF4c2tkNTBqeWsxNG9mOThrcTRxZzZuOXpsbjhjcyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/IrQcyTog3X8VW/giphy.gif" alt="">
    </div>

    <button><a href="/">Volver A Inicio</a></button>
    </section>
</body>
</html>