<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (admin) { %>
      <h1>Hola Usuario admin</h1>
    <% }else{%>
      <h1>Hola Usuario cliente</h1>
    <%} %>
  </body>
</html>
