<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <section id="login_sec">
        <h1 id="h1_login">Login</h1>
        <form action="/login" method="post">
        <input type="text" name="nombre" placeholder="Usuario">
        <input type="text" name="password" placeholder="Password">
        <button type="submit">Acceder</button>

        <a href="/register">Registrate</a>
    </form>
    </section>
</body>
</html>