<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <section id="register_sec">
        <h1>Register</h1>
    <form action="/register" method="post">
        <input type="text" name="nombre" placeholder="Usuario">
        <input type="text" name="password" placeholder="Password">
        <input type="text" name="cargo" placeholder="Cargo">  
        <input type="text" name="imagen" placeholder="Imagen De Perfil">  
        <button type="submit">Acceder</button>
        <a href="/login">Ir al Login</a>
    </form>
    </section>
</body>
</html>